/* -------------------- Header -------------------- */
header {
  position: absolute;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid #006bb7;
  background-color: #fff;
}

.top-menu {
  background-color: #f5f5f5;
}

.top-menu .inner {
  overflow: hidden;
}

.top-menu .left {
  float: left;
}

.top-menu .left li {
  float: left;
  height: 30px;
  padding: 0 15px;
  line-height: 30px;
  border-right: 1px solid #ddd;
  font-size: 12px;
  color: #444;
}

.top-menu .left li:last-child {
  border: none;
}

.top-menu .right {
  float: right;
}

.top-menu .right li {
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #444;
  background-color: #e7e7e7;
  border-right: 1px solid #dddddd;
}

.top-menu .right li:last-child {
  background-color: #00B8A2;
  color: #fff;
  border: none;
}

.top-menu .right li a {
  display: block;
  padding: 0 15px;
}

/* gnb */
.gnb {
  position: relative;
}

.gnb:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 70px;
  background-color: #ddd;
}

.gnb .inner {
  position: relative;
  overflow: hidden;
}

.gnb .logo {
  float: left;
}

.gnb .logo a {
  display: block;
  height: 70px;
}

.gnb .logo a img {
  height: inherit;
}

.gnb .menu {
  float: right;
}

.gnb .menu>li {
  float: left;
  text-align: center;
  font-weight: 500;
}

.gnb .menu>li>a {
  position: relative;
  display: block;
  width: 150px;
  height: 70px;
  line-height: 70px;
}

.gnb .menu>li>a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #006bb7;
  transition: 0.3s;
}

.gnb .menu>li:hover>a:after {
  width: 100%;
}

.gnb .depth {
  display: none;
}

.gnb .depth li {
  font-size: 14px;
  font-weight: 400;
}

.gnb .depth li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid transparent;
  color: #888;
  transition: 0.3s;
}

.gnb .depth li:hover a {
  color: #222;
  font-weight: 500;
  background-color: #eee;
}

.gnb-bg {
  position: absolute;
  left: 0;
  top: 71px;
  width: 100%;
  display: none;
}

.gnb-bg.active {
  display: block;
  opacity: 1;
}

.gnb-bg img {
  display: block;
  width: 100%;
  margin: auto;
}

.gnb-bg .inner>div {
  width: 280px;
  padding: 30px 20px 0;
}

.gnb-bg .gnb-num {
  margin-top: 30px;
  padding: 0 5px;
  overflow: hidden;
}

.gnb-bg span {
  margin-top: 11px;
  float: left;
  font-weight: 500;
  color: #aaa;
}

.gnb-bg strong {
  float: right;
  font-size: 30px;
  color: #006bb7;
}