/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('//cdn.jsdelivr.net/xeicon/2/xeicon.min.css');

/* -------------------- Reset CSS -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
button, input {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  /* vertical-align: middle; */
}
ol, ul {
  list-style: none;
}
address, i, em {
  font-style: normal;
}

/* -------------------- Default CSS -------------------- */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #222;
}
.inner {
  width: 1200px;
  margin: auto;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}

/* -------------------- main visual -------------------- */
.main-visual {
  padding-top: 100px;
}
.main-slide {
  position: relative;
  height: 600px;
}
.main-slide.bg1 {
  background: url(../img/banner01.jpg) no-repeat center center / cover;
}
.main-slide.bg2 {
  background: url(../img/banner02.jpg) no-repeat center center / cover;
}
.main-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.main-slide .txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.main-slide .txt span, 
.main-slide .txt strong {
  display: block;
}
.main-slide .txt span {
  font-size: 18px;
  letter-spacing: 5px;
}
.main-slide .txt strong {
  font-size: 80px;
  line-height: 1.2;
}
.main-slide .txt p {
  padding: 3px 0;
  margin-top: 15px;
  font-weight: 300;
  letter-spacing: 6px;
  background-color: #00B8A2;
}
.main-slide.bg2 .txt p {
  background-color: #0065b8;
}
/* main banner slide arrow */
.slide-container .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  border: none;
  background-color: transparent;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}
.slide-container .slick-arrow:before {
  font-family: xeicon;
  font-size: 70px;
  color: #fff;
}
.slide-container .slick-prev {
  left: 20px;
}
.slide-container .slick-next {
  right: 20px;
}
.slide-container .slick-prev:before {
  content: '\e93d';
}
.slide-container .slick-next:before {
  content: '\e940';
}
.main-slide.slick-active .txt span {
  animation: fadeUp 1s .2s both;
}
.main-slide.slick-active .txt strong {
  animation: fadeUp 1s .5s both;
}
.main-slide.slick-active .txt p {
  animation: fadeUp 1s .3s both;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------- main appoint-------------------- */
.appoint {
  position: relative;
  margin-top: -100px;
  margin-bottom: 90px;
}
.appoint .inner {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: -2px 2px 15px rgba(4, 0, 0, 0.3);
}
.appoint .inner > div {
  width: calc(100% / 3);
  float: left;
  padding: 50px 40px 70px;
}
.appoint .inner > div h2 {
  margin-bottom: 15px;
}
.appoint .inner > div p {
  font-weight: 300;
  margin-bottom: 40px;
}
.appoint .inner > div button,
.appoint .inner > div input {
  vertical-align: middle;
  height: 50px;
} 
.appoint .inner > div input {
  padding-left: 15px;
}
.appoint .inner > div input::placeholder {
  transition: 0.3s;
}
.appoint .inner > div input:focus::placeholder {
  opacity: 0;
}
.appoint .inner > div button {
  border: none;
  cursor: pointer;
}
.appoint .first {
  background: #006bb7 url(../img/appoint-bg1.png) no-repeat top 20px right 15px;
}
.appoint .first h2,
.appoint .first p {
  color: #fff;
}
.appoint .first input {
  border: none;
  margin-right: 5px;
}
.appoint .first input:nth-child(1) {
  width: 90px;
}
.appoint .first input:nth-child(2) {
  width: calc(100% - 174px);
}
.appoint .first button {
  float: right;
  width: 70px;
  background-color: #082450;
  color: #fff;
}
.appoint .internet {
  background: #fff url(../img/appoint-bg2.png) no-repeat top 20px right 15px;
}
.appoint .internet button {
  width: calc((100% - 9px) / 2);
}
.appoint .internet button:nth-child(1) {
  background-color: #006bb7;
  color: #fff;
  margin-right: 5px;
}
.appoint .medical {
  background: #E6E8F0 url(../img/appoint-bg3.png) no-repeat top 20px right 15px;
}
.appoint .medical input {
  width: calc(100% - 75px);
  margin-right: 5px;
  border: 1px solid #ddd;
}
.appoint .medical button {
  float: right;
  width: 70px;
  background-color: #006bb7;
  color: #fff;
}

/* -------------------- main quick menu -------------------- */
.quick-menu {
  margin-bottom: 30px;
}
.menu-box {
  text-align: center;
  overflow: hidden;
}
.menu-box li {
  width: calc(100% / 8);
  float: left;
}
.menu-box li a {
  position: relative;
  display: block;
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.menu-box div {
  position: absolute;
  width: 100%;
  left: 0;
  height: inherit;
  padding-top: 20px;
  background-color: #f9f9f9;
  transition: 0.5s;
}
.menu-box div:nth-child(1) {
  top: 0;
}
.menu-box li a:hover div:nth-child(1) {
  top: -150px;
}
.menu-box .hover {
  top: 150px;
  background-color: #006bb7;
  color: #fff;
}
.menu-box li a:hover .hover {
  top: 0;
}
.menu-box div img {
  margin-bottom: 10px;
}
.menu-box div h3 {
  font-weight: 700;
  color: #666;
  font-size: 16px;
}
.menu-box .hover h3{
  color: #fff;
}

/* -------------------- main media -------------------- */
.media {
  margin-bottom: 100px;
}
.media .inner {
  overflow: hidden;
}
.media .inner > div {
  height: 350px;
}
/* jb-tv */
.jb-tv {
  position: relative;
  float: left;
  padding: 30px 40px;
  width: calc(60% - 30px);
  background: url(../img/tv_bg.jpg) no-repeat center center / cover;
  overflow: hidden;
}
.jb-tv:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.jb-tv .tit {
  position: relative;
  width: 35%;
  padding-right: 10px;
  float: left;
  color: #fff;
}
.jb-tv .tit h2 {
  margin-bottom: 10px;
}
.jb-tv .tit p {
  color: #ddd;
}
.tv-slider {
  width: 60%;
  height: 100%;
  float: right;
}
.tv-slider div {
  height: 100%;
}
.tv-slider div a {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
}
.tv-slider div a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  height: 100%;
}
/* tv-slider dots */
.tv-slider .slick-dots {
  position: absolute;
  left: -244px;
  bottom: 0;
}
.tv-slider .slick-dots li {
  position: relative;
}
.tv-slider .slick-dots li button {
  position: relative;
  width: 170px;
  height: 40px;
  text-align-last: left;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
}
.tv-slider .slick-dots li:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  transform: translateX(100px);
  opacity: 0;
  transition: 0.3s;
}
.tv-slider .slick-dots li.slick-active:before {
  transform: translateX(0);
  opacity: 1;
  background-color: #006bb7;
}
/* docter */
.docter {
  position: relative;
  float: right;
  width: 40%;
  background: url(../img/doctor-bg.jpg) no-repeat center center / cover;
}
.docter:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
.docter:after {
  content: '';
  position: absolute;
  top: 0px;
  right: -20px;
  width: 300px;
  height: 800px;
  transform: rotate(45deg);
  background-color: #006bb7;
}
.docter .tit {
  position: absolute;
  color: #fff;
  top: 30px;
  left: 40px;
}
.docter .tit h2 {
  line-height: 1.3em;
  margin-bottom: 10px;
}
.docter .dc-slider{
  z-index: 5;
}
.docter .dc-slider .slick-slide {
  padding-top: 30px;
  padding-left: 40px;
  height: 350px;
}
.docter .dc-slider .desc {
  margin-top: 110px;
  float: left;
  color: #fff;
}
.docter .dc-slider .desc span {
  display: inline-block;
  height: 30px;
  padding: 0 10px;
  background-color: #0AB0CF;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}
.docter .dc-slider .desc strong {
  display: block;
  font-size: 26px;
  margin-bottom: 5px;
}
.docter .dc-slider .desc p {
  color: #ddd;
}
.docter .dc-slider img {
  float: right;
  margin-top: 20px;
  height: 300px;
}
/* dc-slider dots */
.dc-slider .slick-dots {
  position: absolute;
  bottom: 30px;
  left: 40px;
}
.dc-slider .slick-dots li {
  display: inline-block;
  margin-right: 8px;
}
.dc-slider .slick-dots li button {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0.5;
  cursor: pointer;
}
.dc-slider .slick-dots li.slick-active button {
  width: 30px;
  border-radius: 15px;
  opacity: 1;
}

/* -------------------- main news -------------------- */
.news {
  margin-bottom: 120px;
}
.news .tit {
  text-align: center;
  margin-bottom: 45px;
}
.news .tit h2 {
  margin-bottom: 15px;
}
.news .tit p {
  color: #999;
}
.news .inner {
  overflow: hidden;
}
.news .inner > div {
  float: left;
  width: calc((100% - 60px) / 4);
  margin-right: 20px;
}
.news .news-tit {
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #006bb7;
  line-height: 50px;
}
.news .inner > div:nth-child(2) .news-tit {
  background-color: #0AB0CF;
}
.news .inner > div:nth-child(3) .news-tit {
  background-color: #00B8A2;
}
.news .news-tit h3 {
  float: left;
  font-size: 18px;
  font-weight: 500;
}
.news .news-tit a {
  float: right;
  margin-right: -8px;
  font-size: 26px;
}
.news ul {
  border: 1px solid #ccc;
}
.news ul li {
  padding: 15px 20px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}
.news ul li:last-child {
  border: none;
}
.news ul li.active {
  padding: 20px;
  background-color: #f3f3f3;
}
.news ul li a {
  display: block;
  pointer-events: none;
}
.news ul li.active a {
  pointer-events: all;
}
.news ul li h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  font-size: 16px;
  font-weight: 500;
}
.news ul li.active h4 {
  white-space: normal;
  text-overflow: none;
  margin-bottom: 20px;
  height: 50px;
}
.news ul li p {
  display: none;
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.news ul li.active p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news ul li em {
  font-size: 14px;
  color: #999;
  display: none;
}
.news ul li.active em {
  display: block;
}
.news .inner .items {
  border: 1px solid #ccc;
  margin-right: 0;
}
.news .items div {
  height: calc(100% / 3);
  padding: 25px;
  border-bottom: 1px solid #ccc;
}
.news .items div:last-child {
  border: none;
}
.news .items div a {
  position: relative;
  display: block;
  height: 100%;
}
.news .items div img {
  height: 100%;
  margin-right: 20px;
  filter: grayscale(1);
  transition: 0.3s;
}
.news .items div a:hover img {
  filter: grayscale(0);
}
.news .items div strong,
.news .items div span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.news .items div span {
  right: 0;
  padding-left: 10px;
  font-size: 14px;
  color: #666;
  border-left: 2px solid #ddd;
}



