/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('//cdn.jsdelivr.net/xeicon/2/xeicon.min.css');

/* -------------------- Reset CSS -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
button, input {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  /* vertical-align: middle; */
}
ol, ul {
  list-style: none;
}
address, i, em {
  font-style: normal;
}

/* -------------------- Default CSS -------------------- */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #222;
}
.inner {
  width: 1200px;
  margin: auto;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}

/* -------------------- sub visual -------------------- */
.sub-visual {
  position: relative;
  height: 400px;
  background: url(../img/visual-bg.jpg) no-repeat center center / cover;
  color: #fff;
  text-align: center;
}
.sub-visual:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.sub-visual .tit{
  position: absolute;
  top: calc((100% + 102px) / 2);
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-visual .tit h2 {
  font-size: 40px;
  font-weight: 700;
  animation: fadeTextDown 1s both;
}
.sub-visual .tit p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #eee;
  animation: fadeTextDown 1s .4s both;
}
@keyframes fadeTextDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------- contnet -------------------- */
.content {
  margin-bottom: 120px;
}
.content .inner {
  margin-top: 90px;
  overflow: hidden;
}
.content .inner > div {
  float: left;
}
.content .inner > div:nth-of-type(2) {
  width: calc(100% - 300px);
}
.content .inner > div:nth-of-type(2) h2 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
}
.content .inner > div:nth-of-type(2) h2:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 4px;
  background-color: #006bb7;
}
/* left-menu */
.left-menu {
  width: 240px;
  margin-right: 60px;
}
.left-menu h3 {
  height: 55px;
  padding-left: 20px;
  line-height: 55px;
  background-color: #006bb7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.left-menu ul li {
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}
.left-menu ul li.on {
  background-color: #ededed;
}
.left-menu ul li:hover {
  background-color: #ededed;
}
.left-menu ul li a {
  display: block;
  padding-left: 20px;
}

/* health content */
.health-box .search-top{
  margin-bottom: 20px;
  overflow: hidden;
}
.health-box .search-top p {
  position: relative;
  line-height: 45px;
  float: left;
  padding-left: 10px;
}
.health-box .search-top p:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #006bb7;
}
.health-box .search-top span {
  color: #006bb7;
}
.health-box .search-box {
  display: inline-block;
  float: right;
}
.health-box .search-box select {
  width: 120px;
  height: 45px;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #ddd;
}
.health-box input {
  width: 250px;
  height: 45px;
  padding-left: 15px;
  vertical-align: middle;
  border: 1px solid #ddd;
}
.health-box button {
  width: 45px;
  height: 45px;
  border: none;
  vertical-align: middle;
  font-size: 20px;
  background-color: #006bb7;
  color: #fff;
  cursor: pointer;
}
.health-list {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-top: 2px solid #006bb7;
}
.health-list caption {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.health-list th {
  padding: 15px 10px;
  border-bottom: 1px solid #aaa;
}
.health-list td {
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}
.health-list .txt-left {
  text-align: left;
}
.health-list a:hover {
  text-decoration: underline;
}
.page-list {
  margin-top: 40px;
  text-align: center;
}
.page-list a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ddd;
}
.page-list a i:before {
  font-family: fontawesome;
}
.page-list a.on {
  background-color: #006bb7;
  color: #fff;
}
.page-list a i {
  transform: translateY(-2px);
}
