/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('//cdn.jsdelivr.net/xeicon/2/xeicon.min.css');

/* -------------------- Reset CSS -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
button, input {
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
img {
  /* vertical-align: middle; */
}
ol, ul {
  list-style: none;
}
address, i, em {
  font-style: normal;
}

/* -------------------- Default CSS -------------------- */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #222;
}
.inner {
  width: 1200px;
  margin: auto;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}

/* -------------------- sub visual -------------------- */
.sub-visual {
  position: relative;
  height: 400px;
  background: url(../img/visual-bg.jpg) no-repeat center center / cover;
  color: #fff;
  text-align: center;
}
.sub-visual:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}
.sub-visual .tit{
  position: absolute;
  top: calc((100% + 102px) / 2);
  left: 50%;
  transform: translate(-50%, -50%);
}
.sub-visual .tit h2 {
  font-size: 40px;
  font-weight: 700;
  animation: fadeTextDown 1s both;
}
.sub-visual .tit p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #eee;
  animation: fadeTextDown 1s .4s both;
}
@keyframes fadeTextDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* -------------------- contnet -------------------- */
.content {
  margin-bottom: 120px;
}
.content .inner {
  margin-top: 90px;
  overflow: hidden;
}

/* login content */
.login-content {
  width: 900px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-top: 2px solid #006bb7;
}
.login {
  padding: 110px 200px;
}
.login p {
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
}
.login-box {
  margin-bottom: 15px;
  overflow: hidden;
}
.login-box div {
  float: left;
  width: 65%;
}
.login-box input[type=text],
.login-box input[type=password] {
  width: 100%;
  height: 45px;
  padding-left: 15px;
  border: 1px solid #ddd;
}
.login-box input[type=text] {
  margin-bottom: 5px;
}
.login-box input[type=text]::placeholder,
.login-box input[type=password]::placeholder {
  opacity: 1;
}
.login-box input[type=text]:focus::placeholder,
.login-box input[type=password]:focus::placeholder {
  opacity: 0;
}
.login-box input[type=submit] {
  float: right;
  width: 34%;
  height: 95px;
  border: none;
  background-color: #00b8a2;
  color: #fff;
  cursor: pointer;
}
.keep-box {
  font-size: 14px;
}
.keep-box label {
  cursor: pointer;
}
.keep-box label input[type=checkbox] {
  display: none;
}
.keep-box label em {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
  transform: translateY(-2px);
  background: url(../img/checkbox-01.png) no-repeat;
  background-position: center left;
}
.keep-box label input[type=checkbox]:checked + em {
  background-position: center right;
}
.keep-box a {
  float: right;
}
.keep-box a:hover {
  text-decoration: underline;
}
.join {
  display: table;
  background-color: #efefef;
}
.join > div {
  display: table-cell;
}
.join-box {
  text-align: center;
  width: 70%;
  padding: 30px;
  border-right: 1px solid #ddd;
}
.join-box p {
  text-align: left;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.6em;
  color: #888;
}
.join-box p span {
  color: #006bb7;
}
.join-box button {
  padding: 15px 50px;
  background-color: #fff;
  border: 1px solid #006bb7;
  font-weight: 600;
  cursor: pointer;
}
.web-email {
  width: 30%;
  text-align: center;
  vertical-align: middle;
}
.web-email button {
  padding: 15px 30px;
  border: none;
  background-color: #006bb7;
  color: #fff;
  cursor: pointer;
}
